@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.poke-bg {
    position: absolute;
}

.principal {
    height: 660px;
    width: 440px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 4px;
    bottom: 4px;
    font-family: 'Roboto', sans-serif;
}

.display {
    height: 220px;
    width: 300px;
    background-image: url("../../assets/img/bg_pokemon.png");
    background-position: bottom;
    background-size: 900px 660px;
    border: 2px solid #202020;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 40px;
}

.poke-img {
    width: 260px;
}

.error-search {
    position: absolute;
    font-weight: bold;
    top: 295px;
    left: 40px;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 10px;
    border: 2px solid #9d2517;
}

.search input[type="submit"] {
    width: 80px;
    height: 40px;
    font-weight: bold;
    background: rgb(192, 192, 192);
    border-radius: 8px;
    border: 2px solid #9d2517;
}

.search input[type="submit"]:hover {
    cursor: pointer;
}

.search input[type="submit"]:active {
    background: #ca7373;
    color: #fff;
}

.data-stats,
.data-info {
    border: 2px solid #9d2517;
    border-radius: 8px;
}

.data-info {
    position: absolute;
    font-weight: bold;
    text-align: left;
    width: 360px;
    height: 100px;
    top: 370px;
    left: 40px;
    color: #fff;
}

.info-title,
.st-title {
    position: absolute;
    top: -15px;
    left: 10px;
    background: #DE3D2B;
    width: max-content;
}

.info-txt {
    padding: 10px;
}


.data-stats {
    height: 140px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-weight: bold;
    color: #fff;
}

.data-stats tr {
    display: flex;
    justify-content: end;
}

.data-stats tr td:first-child {
    text-align: left;
    width: 100px;
}

.data-stats tr td:last-child {
    text-align: right;
    width: 60px;
}

@media (max-width: 991px) {

    .poke-bg {
        width: 330px;
    }

    .principal {
        height: 495px;
        width: 330px;
    }

    .display {
        height: 160px;
        width: 225px;
        top: 42px;
        left: 30px;
    }

    .poke-img {
        width: 195px;
    }

    .error-search {
        position: absolute;
        font-weight: bold;
        top: 221px;
        left: 30px;
        font-size: 13px;
    }

    .search input[type="text"] {
        width: 195px;
        height: 22px;
        border-radius: 5px;
        margin-right: 10px;
        padding-left: 5px;
    }

    .search input[type="submit"] {
        width: 60px;
        height: 30px;
    }

    .data-info {
        width: 270px;
        height: 75px;
        top: 278px;
        left: 30px;
        font-size: 14px;
    }

    .info-txt {
        padding: 8px;
    }

    .data-stats {
        height: 105px;
        width: 270px;
        bottom: 15px;
        left: 30px;
        font-size: 13px;
    }

    .data-stats tr td:first-child {
        width: 75px;
    }

    .data-stats tr td:last-child {
        width: 45px;
    }
}